@use "game-round-container";
@use "btn";
@use "result-container";

.board-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 100%;
  height: 100%;
  gap: 4em;
}
