@use "utils/varibales" as *;

.game-round-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
    margin-top: 1em;

  .computer-choice{
    flex: 0 0 auto;
    height: 12em;
    width: 12em;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary-color;
    border: transparent solid 2px;
    border-radius: 50%;

    background-image: url("../../../assets/question.png");
  }

  .end-game-message{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
  }
}

@media only screen and (max-width: 600px) {
    .game-round-container{
      gap: 2em;
      margin-top: 0.5em;

      .computer-choice{
        height: 10em;
        width: 10em;
      }

      .end-game-message {
        font-size: 3.5em;
      }
    }
}

