@use "layout";
@use "utils/varibales" as *;
@use "utils/animations" as *;

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-color;
  margin: 0;
}


