@use "components/user-options";
@use "components/game-board";
@use "utils/varibales" as *;
html{
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  border: black solid 2px;
  background: $bg-color;
  height: 100%;
  width: 100%;
}

div{
  border: 2px solid black;
  border-radius: 10px;
}


