@use "keyframes" as *;
* {
    &.spin {
        animation: spin 0.75s linear infinite;
    }

    &.shrink-grow {
        animation: shrink-grow 0.75s linear infinite;
    }

    &.shake {
        animation: shake 0.3s linear infinite;
    }

    &.victory-flash {
        animation: victory-flash 1.5s linear infinite;
    }
}